/target
**/*.rs.bk
Cargo.lock
**/Cargo.lock
/.idea
/.vscode
**/target
/.vs
/examples/_*.rs
/examples/_test*
/examples/target
/examples/*/target

# Coverage reports
codecov.txt
cobertura.xml
tarpaulin-report.*
debug.log
**/temp
*.profraw
examples/*/.env.local
examples/**/package-lock.json
examples/**/pnpm-lock.yaml
**/node_modules

.DS_Store
.claude
.cursor
.env
.env/
.env.*
!.env.example